.main-content-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link-dropdown-admin {
    color: var(--neutral-500-white);
    letter-spacing: 2px;
}

.wrapper-nav-link-dropdown-admin {
    margin-top: 82px;
}

.h1-admin {
   font-size: 26px;
    color: var(--primary-500-darkgreen);
}

.p-admin {
    font-size: 18px;
    letter-spacing: 2px;
    color: var(--primary-500-darkgreen);
    margin: 42px 0 62px 0;
}

.buttons-wrapper-admin-landingpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.btn-admin {
    border: var(--secondary-200-green) solid 2px;
    background-color: #283b2c80;
    border-radius: 6px;
    width: 320px;
    height: 48px;
    font-family: Montserrat, sans-serif;
    color: var(--neutral-500-white);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    transition: 0.3s ease;
    letter-spacing: 2px;
}

.btn-admin:hover {
    background-color: transparent;
    color: var(--primary-500-darkgreen);
}

#footer-admin {
    margin-top: 200px;
}


@media (min-width: 600px) {

    .btn-admin {
        width: 365px;
        height: 58px;
    }

    .main-content-admin-landingpage {
        height: 700px;
    }


    .h1-admin {
        font-size: 32px;
        margin-top: 82px;
    }

    .p-admin {
        font-size: 20px;
    }

}

@media (min-width: 700px) {

    .h1-admin {
        font-size: 38px;
    }

}

