section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-homepage {
    position: absolute;
    z-index: 10;
    width: 100%;
}

#home-nav-link, #BA-nav-link, #about-nav-link, #logo-landingpage {
    color: var(--neutral-500-white);
}

#fa-x-homepage {
    color: var(--neutral-500-white);
}

.hero-bg {
    background-image: url("/assets/mobile/mobile-hero.jpg");
    width: 100vw;
    height: 672px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-content {
    position: absolute;
    top: 180px;
    margin: 0;
    width: 100%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--neutral-500-white);
}

.hero-text :nth-child(1) {
    margin-bottom: 8px;
}

.hero-large-text {
    font-family: Magilio, sans-serif;
    font-size: 28px;
}

.hero-small-text {
    font-family: "Goudy Bookletter 1911", sans-serif;
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 42px;
}

.hero-icon {
    width: 20px;
    height: 20px;
}

/* pagination styling inspiration: https://www.codeguage.com/tutorials/sliders/pagination */

.slides-and-pagination-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pagination-element {
    background-color: var(--neutral-300-black);
    border-radius: 25px;
    padding: 0;
    margin: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-content: center;
}

.pagination-element button {
    display: flex;
    justify-content: center;
    align-content: center;
}

.slider-pagination-btn {
    display: inline-block;
    padding: 6px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.slider-pagination-btn:before {
    content: '';
    display: inline-block;
    padding: 6px;
    border-radius: 100%;
    background-color: var(--secondary-100-white-transparent);
}

.slider-pagination-btn:hover:before {
    background-color: #aaa;
}

.slider-pagination-btn.slider-pagination-btn--sel:before {
    background-color: var(--neutral-500-white);
}

.carousel-section-2-text {
    margin-bottom: 22px;
}

.carousel-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 518px;
    width: 100%;
}

.slide-background-blur {
    width: 100vw;
    height: 518px;
    background-color: var(--secondary-400-gray-transparent);
    position: absolute;
}

.carousel-ul-container {
    list-style: none;
    transition: left 0.5s ease-in-out;
    padding: 0;
    height: 518px;
    width: 100%;
}

.carousel-ul-container li:first-child {
    display: block;
}

.carousel-buttons-wrapper {
    display: flex;
    align-items: center;
}

.carousel-buttons {
    position: absolute;
    pointer-events: auto;
}

#left-btn-carousel {
    left: 2rem;
}

#right-btn-carousel {
    right: 2rem;
}

#left-btn-carousel, #right-btn-carousel {
    width: 48px;
    height: 48px;
    padding: 6px;
    color: var(--neutral-500-white);
    background-color: var(--neutral-300-black);
    border: 1px solid var(--secondary-100-white-transparent);
    border-radius: 6px;
    z-index: 8;
    cursor: pointer;
}

#left-btn-carousel:hover, #right-btn-carousel:hover {
    background-color: var(--secondary-400-gray-transparent);
}

.post-slide {
    display: none;
    width: 100%;
}

.title-and-btn-wrapper {
    position: absolute;
    z-index: 5;
    top: 120px;
    width: 100%;
}

.post-title {
    font-family: Magilio, sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    color: var(--neutral-500-white);
    list-style: none;
    margin-bottom: 82px;
}

.post-btn, .post-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-img {
    width: 100%;
    height: 518px;
    object-fit: cover;
    border-radius: 6px;
}

.filter-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-filter-section {
    background-image: url("/assets/mobile/bg-filter-section-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 518px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-filter-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 12px;
}

.homepage-filter-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 22px;
    width: 340px;
    margin-top: 22px;
}

.filter-btn-homepage {
    width: 148px;
    height: 148px;
    border-radius: 200px;
    border: 4px solid var(--secondary-300-green-transparent);
    background-color: var(--secondary-500-white);
    cursor: pointer;
}

.filter-btn-homepage a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-family: Magilio, sans-serif;
    font-size: 20px;
    color: var(--neutral-300-black);
}

.filter-btn-homepage img {
    width: 40px;
    height: 40px;
}

.filter-btn-homepage:hover {
    background-color: var(--secondary-100-white-transparent);
}

.filter-btn-homepage:active, .filter-btn-homepage:focus {
    background-color: var(--secondary-300-green-transparent);
}

/*--------------------------------------------------------*/

/* THUMBNAIL GRID SECTION */

.text-content-grid-section {
    margin-bottom: 22px;
}

/*--------------------------------------------------------*/

/* ABOUT SECTION */

.bg-about-section {
    background-image: url("/assets/mobile/bg-about-page-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 518px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 12px;
}

.post-highlight-section {
    padding: 0 12px;
}

.content-post-highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-post-highlight {
    width: 365px;
    height: 320px;
    object-fit: cover;
}

.img-post-highlight {
    border-radius: 6px;
    margin-top: 42px;
}

@media (min-width: 834px) {

    .hero-bg {
        background-image: url("/assets/tablet/tablet-hero.jpg");
        height: 982px;
    }

    #left-btn-carousel, #right-btn-carousel {
        width: 42px;
        height: 62px;
        padding: 1rem 6px;
    }

    .homepage-filter-btns {
        width: 100%;
    }

    .post-highlight-section {
        flex-direction: row;
        gap: 82px;
        padding: 0 42px;
    }

    .text-content-post-highlight {
        display: flex;
        flex-direction: column;
    }

    .text-content-post-highlight p {
        text-align: left;
    }

    .content-post-highlight h2, .content-post-highlight {
        display: inline;
    }

    .img-post-highlight {
        margin-top: 0;
        width: 365px;
        height: 320px;
    }

}

@media (min-width: 1440px) {
    .hero-bg {
        background-image: url("/assets/desktop/desktop-hero.jpg");
    }

    .post-highlight-section {
        padding: 0 102px;
    }

    .img-post-highlight {
        margin-top: 0;
        width: 752px;
        height: 468px;
    }
}
