main {
    background-color: var(--primary-500-darkgreen);
    height: 100vh;
}

nav {
    background-color: var(--primary-500-darkgreen);
}

.logo-admin-register-login {
    font-family: "Montserrat Subrayada", sans-serif;
    color: var(--neutral-500-white);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.h1-login-and-register {
    color: var(--neutral-500-white);
    margin-bottom: 42px;
}

.inputs-login-form, .inputs-register-form {
    display: flex;
    flex-direction: column;
}

.content-register-page, .content-login-page, .login-option, .register-option  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    background-color: transparent;
    border: var(--neutral-500-white) 1px solid;
    border-radius: 6px;
    height: 58px;
    width: 365px;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0 22px;
    margin-bottom: 22px;
    color: var(--neutral-500-white);
}

::placeholder {
    color: var(--neutral-500-white);
}

#login-btn, #register-btn {
    background-color: var(--neutral-500-white);
    color: var(--primary-500-darkgreen);
    font-weight: 500;
    margin-bottom: 42px;
    margin-top: 20px;
}

#login-btn:hover, #register-btn:hover {
    background-color: transparent;
    border: var(--neutral-500-white) 1px solid;
    color: var(--neutral-500-white);
}

#register-btn-option, #login-btn-option {
    margin: 42px;
}

#register-btn-option:hover, #login-btn-option:hover {
    background-color: var(--secondary-200-green);
    color: var(--neutral-500-white);
}

.text-option {
    color: var(--neutral-500-white);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 200;
    font-style: italic;
}

#login-error-message, #register-error-message {
    display: none;
}